<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/account_dashboard.css') }}"
/>

{% extends "base.html" %}
{% block title %}MCRS - Manage Addresses{% endblock %}

{% block content %}
<div class="account-dashboard--container">
  {% set current_page = 'overview' %} 
  {% include 'global/account_navbar.html' %}

  <div class="account-content--container">
      <div class="account-ccount--header">
        Your Address
        {% set role = session.get("user_role") %}
        {% include 'components/role-badge.html' %}
      </div>


    <div>
      <div class="row">
        <div>
          <div class="card shadow">
            <ul class="list-group list-group-flush">
              {% for address in addresses %}
                <li class="list-group-item">
                  <div>
                    <strong>{{ address.street_address }}</strong>, {{ address.city }}, {{ address.state }} - {{ address.postal_code }}, {{ address.country }}
                    {% if address.is_primary %}
                    <span class="badge bg-primary">Primary</span>
                    {% endif %}
                  </div>
                  <div class="addresses-btns">
                    <a 
                      href="{{ url_for('shipping_address.update_address', address_id=address.address_id) }}" 
                      class="common-btn--text"
                    >
                      Edit
                    </a>
                    <form 
                      action="{{ url_for('shipping_address.delete_address', address_id=address.address_id) }}" 
                      method="POST" 
                      class="d-inline"
                    >
                      <button 
                        type="submit" 
                        class="common-btn--text" 
                        onclick="return confirm('Are you sure you want to delete this address?');"
                      >
                        Delete
                      </button>
                    </form>
                  </div>
                </li>
              {% else %}
                <li class="list-group-item">No addresses found.</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mt-5">
            <a 
              href="{{ url_for('shipping_address.add_address') }}" 
              class="common-btn--border"
            >
              Add New Address
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
