{% extends "base.html" %} 
{% block title %}MCRS - Register{% endblock %} 

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="mb-4 text-center">Shipping & Delivery</h1>
            <p class="lead">Products ordered online can be picked up at your local Moa Creek store or delivered to your farm or home. When your order is ready for pick up or about to be shipped for delivery you will receive a dispatch email. Currently, all orders are delivered through CourierPost.</p>

            <div class="mt-5">
                <h2>Click and Collect</h2>
                <p>Click and collect is <strong>FREE</strong> for all orders nationwide. If you order before 2pm we will have your order ready to collect within 2 business days* including the day the order is placed. We will notify you by email when your order is in store waiting to be collected.</p>
            </div>

            <div class="mt-5">
                <h2>Delivery</h2>
                <p><ul>
                    <li>Standard sized items: $10 flat rate.</li>
                    <li>Oversized items: $100 flat rate.</li>
                    <li>Mixed orders with both standard and oversized items: Higher delivery charge applies.</li>
                    <li>NZ outer islands: Shipping by quote, arranged at the customer’s expense.</li>
                </ul>
                </p>
            </div>

            <div class="mt-5">
                <h2>Tracking and Estimated Delivery Times</h2>
                <p>Deliveries take 3 to 5 business days* including the day the order is placed if placed before 2 pm. If the order is placed after 2 pm one business day must be added to the order's estimated delivery time. Deliveries are made Monday through Friday only. If you wish to track the progress of your delivery you can do so using the CourierPost tracking link sent to you in your dispatch email.</p>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}