<div class="account-navbar--container">
  <ul>
    <li class="{% if current_page == 'overview' %}active{% endif %}">
      {% if session["user_role"] == 'manager' %}
      <a href="{{url_for('manager.dashboard')}}">Overview</a>
      {% elif session["user_role"] == 'customer' %}
      <a href="{{url_for('customer.dashboard')}}">Overview</a>
      {% elif session["user_role"] == 'admin' %}
      <a href="{{url_for('admin.dashboard')}}">Overview</a>
      {% elif session["user_role"] == 'staff' %}
      <a href="{{url_for('staff.dashboard')}}">Overview</a>
      {% endif %}
    </li>

    <li class="{% if current_page == 'profile' %}active{% endif %}">
      <a href="{{url_for('profile_page.manage_own_profile')}}">Profile</a>
    </li>

    {% if session["user_role"] == 'customer' %}
    <li class="{% if current_page == 'orders' %}active{% endif %}">
      <a href="{{url_for('customer.orders')}}">Orders</a>
    </li>
    <li class="{% if current_page == 'credit' %}active{% endif %}">
      <a href="{{url_for('customer.credit')}}">Credit</a>
    </li>
    <li class="{% if current_page == 'inquiry' %}active{% endif %}">
      <a href="{{url_for('customer.inquiry')}}">Inquiry</a>
    </li>
    <li class="{% if current_page == 'My Gift Card' %}active{% endif %}">
      <a href="{{url_for('customer.my_gift_card')}}">My Gift Card</a>
    </li>
    <li class="{% if current_page == 'Message' %}active{% endif %}">
      <a href="{{url_for('message_page.inbox')}}">Message</a>
    </li>

    <!-- Nav Bar for Manager -->
    {% elif session["user_role"] == 'manager' %}
    <li class="{% if current_page == 'credit' %}active{% endif %}">
      <a href="{{url_for('manager.credit_management')}}">Credit Management</a>
    </li>
    <li class="{% if current_page == 'product' %}active{% endif %}">
      <a href="{{url_for('product_page.get_list_of_product')}}"
        >Product Management</a
      >
    </li>
    <li class="{% if current_page == 'account' %}active{% endif %}">
      <a href="{{url_for('manager.manage_user_account')}}"
        >Account Management</a
      >
    </li>
    <li class="{% if current_page == 'promotion' %}active{% endif %}">
      <a href="{{url_for('promotion_page.get_promotions')}}"
        >Promotion Management</a
      >
    </li>
    <li class="{% if current_page == 'news' %}active{% endif %}">
      <a href="{{url_for('news_page.get_news')}}">News Management</a>
    </li>
    <li class="{% if current_page == 'webSite Report'%}active{% endif %}">
      <a href="{{url_for('manager.web_report')}}">Website Report</a>
    </li>
    <li class="{% if current_page == 'businessAccAppMag'%}active{% endif %}">
      <a href="{{url_for('manage_account_apply.dashboard')}}">Business Account Management</a>
    </li>

    <!-- Nav Bar for admin -->
    {% elif session["user_role"] == 'admin' %}
    <li class="{% if current_page == 'credit' %}active{% endif %}">
      <a href="{{url_for('manager.credit_management')}}">Credit Management</a>
    </li>

    <!-- Nav Bar for Staff -->
    {% elif session["user_role"] == 'staff' %}
    <li class="{% if current_page == 'product' %}active{% endif %}">
      <a href="{{url_for('product_page.get_list_of_product')}}"
        >Product Management</a
      >
    </li>
    <li class="{% if current_page == 'inventory' %}active{% endif %}">
      <a href="{{url_for('staff.inventory_management')}}">
        Inventory Management
      </a>
    </li>
    <li class="{% if current_page == 'order' %}active{% endif %}">
      <a href="{{url_for('order_page.orders_list')}}">Order Management</a>
    </li>
    <li class="{% if current_page == 'message' %}active{% endif %}">
      <a href="{{url_for('message_page.inbox')}}">Message Management</a>
    </li>


    {% endif %}
    
    <li>
      <a href="{{ url_for('logout') }}">Logout</a>
    </li>
  </ul>
</div>
