<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/home.css') }}"
/>

{% extends "base.html" %} {% block title %}MCRS - Home{% endblock %} {% block
content %}

<div class="home-container">
  <!-- 'Hero Section' - Begin -->
  {% include "components/hero-section.html" %}
  <!-- 'Hero Section' - End -->

  <!-- 'Most Popular Collections Section' - Begin -->
  <div class="container">
    {% set section_header = 'Shop most popular collections' %} {% set
    section_description = "Moa Creek Rural Supplies is your trusted online source for a comprehensive range of rural agricultural products, from animal health care to machinery and fertilizers. Based in Alexandra, Central Otago, our dedicated team ensures quality products and reliable delivery to support your farming needs." %} {% include
    "components/section-header.html" %}

    <category-cards>
      <div class="category-cards" id="home-category-cards">
      {% set category_id = 8 %}
      {% set image_path = "images/category_image/cloth.jpg"%}
      {% set category_Name = "Clothing"%}
      {% include "components/category-card.html" %} 
      {% set category_id = 12 %}
      {% set image_path = "images/category_image/Agrichemicals.jpg"%}
      {% set category_Name = "Agrichemicals"%}
      {% include "components/category-card.html" %} 
      {% set category_id = 9 %}
      {% set image_path = "images/category_image/footwear.jpg"%}
      {% set category_Name = "Footwear"%}
      {% include "components/category-card.html" %}
      {% set category_id = 5 %}
      {% set image_path = "images/category_image/animal_equipment.jpg"%}
      {% set category_Name = "Animal Equipment"%}
      {% include "components/category-card.html" %} 
      </div>
    </category-cards>
  </div>
  <!-- 'Most Popular Collections' Section - End -->

  <!-- 'Two Big Collection Cards' Section - Begin -->
  {% include "components/two-big-collection-cards.html" %}
  <!-- 'Two Big Collection Cards' Section - End -->

  <!-- 'Product Cards' Section - Begin -->
  {% set section_header = 'Most Shopped' %} {% set section_description = "" %}
  {% include "components/section-header.html" %}
  <product-cards class="product-cards--container">
    <div class="product-cards">
      {% set product_id = 33 %}
      {% set image_path = "images/products/mens-jacket.png"%}
      {% set product_Name = "360 Performance Mens Jacket"%}
      {% set product_price = "230.99" %}
      {% include "components/product-card.html" %}

      {% set product_id = 20 %}
      {% set image_path = "images/products/boonies-overlander-gumboots.jpeg"%}
      {% set product_Name = "Boonies Overlander Gumboots"%}
      {% set product_price = "189.50" %}
      {% include "components/product-card.html" %}

      {% set product_id = 38 %}
      {% set image_path = "images/products/organic-compost.png"%}
      {% set product_Name = "Living Earth Organic Compost - 40L"%}
      {% set product_price = "17.99" %}
      {% include "components/product-card.html" %} 

      {% set product_id = 36 %}
      {% set image_path = "images/products/dairy-shed-bib-overtrouser.png"%}
      {% set product_Name = "360 Dairy Shed Bib Overtrouser"%}
      {% set product_price = "159.99" %}
      {% include "components/product-card.html" %} 

      {% set product_id = 42 %}
      {% set image_path = "images/products/sprayer-pressure.png"%}
      {% set product_Name = "Sprayer Pressure 5/7L Hozelock"%}      
      {% set product_price = "79.99" %}
      {% include "components/product-card.html" %}

      {% set product_id = 47 %}
      {% set image_path = "images/products/raid-twin-refill.png"%}
      {% set product_Name = "Raid Auto Advanced Twin Refill"%}  
      {% set product_price = "59.99" %}
      {% include "components/product-card.html" %}

      {% set product_id = 28 %}
      {% set image_path = "images/products/stallion-calfateria-fence.jpeg"%}
      {% set product_Name = "Stallion Calfateria Fence"%}  
      {% set product_price = "356.50" %}
      {% include "components/product-card.html" %} 

      {% set product_id = 44 %}
      {% set image_path = "images/products/pestoff.png"%}
      {% set product_Name = "Pestoff Rodent Block 3kg"%}  
      {% set product_price = "74.99" %}
      {% include "components/product-card.html" %}
    </div>
  </product-cards>
  {% set section_header = 'Latest News' %} {% set section_description = "" %}
  {% include "components/section-header.html" %}
  <product-cards class="product-cards--container">
  <div class="product-cards">


    <div class="card-body news-container" style="height: 300px; overflow-y: auto;">
      {% for news in latest_news %}
      <div>
        <p><h5>{{ news.title }} </h5></p>
        <p style="white-space: pre-line;">{{ news.content }}</p>
        <p><strong>Published Date: {{ news.published_date }}</strong></p>
        <hr> <!-- Horizontal line after each news item -->
      </div>
      {% endfor %}
    </div>

  </product-cards>
  </div>
  <!-- 'Product Cards' Section - End -->
</div>
{% endblock %}
