<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/staff-dashboard.css') }}"
/>

<div class="account-content--container">
  <div class="account-ccount--header">
    Welcome / {{ user["username"] }}
    {% set role = 'manager' %}
    {% include 'components/role-badge.html' %}
  </div>
  
  <span>My ID: {{user_data[0]}}</span>
  <span>My UserName: {{user_data[4]}}</span>
  <span>My Email: {{user_data[5]}}</span>
  <span>My Phone Number : {{user_data[6]}}</span>
  </div>
</div>
