<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/staff-dashboard.css') }}"
/>

<div class="account-content--container">
  <div class="account-ccount--header">
    Welcome / {{ user["first_name"] }} {{ user["last_name"] }} 
    {% set role = 'manager' %}
    {% include 'components/role-badge.html' %}
  </div>

  <div class="account-content--container">
    <div class="staff-dashboard-card">
      {% set entry_name = "Product Management" %}
      <!--  -->
      {% set entry_url = "product_page.get_list_of_product" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
      <!--  -->
      {% set entry_name = "Account Management" %}
      <!--  -->
      {% set entry_url = "manager.manage_user_account" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>
    <div class="staff-dashboard-card">
      {% set entry_name = "Promotion Management" %}
      <!--  -->
      {% set entry_url = "promotion_page.get_promotions" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>
    <div class="staff-dashboard-card">
      {% set entry_name = "News Management" %}
      <!--  -->
      {% set entry_url = "news_page.get_news" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>
	<div class="staff-dashboard-card">
		<a href="{{ url_for('manage_account_apply.dashboard') }}" class="dashboard-link">
			<div class="dashboard-entry-card">
				<div class="dashboard-entry-name">Account Application Management</div>
			</div>
		</a>
	</div>

  <div class="staff-dashboard-card">
    {% set entry_name = "Website Report" %}
    <!--  -->
    {% set entry_url = "manager.web_report" %}
    <!--  -->
    {% include "components/dashboard-entry-card.html" %}
  </div>

  </div>
</div>
