{% extends "base.html" %}
{% block title %}Manager Account Apply{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4">Manager Account Apply</h1>
  {% if applications %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Business Name</th>
        <th scope="col">Account Holder</th>
        <th scope="col">Credit Limit</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr>
        <th scope="row">{{ application.user_id }}</th>
        <td>{{ application.first_name }}</td>
        <td>{{ application.last_name }}</td>
        <td>{{ application.business_name }}</td>
        <td>{{ application.account_holder }}</td>
        <td>
			{% if application.account_holder != 'init' %}
			  {{ application.credit_limit }}
			{% endif %}
		  </td>
        <td>
          {% if application.account_holder == 'apply' %}
          <form action="{{ url_for('manage_account_apply.approve_application', user_id=application.user_id) }}" method="post">
            <input type="hidden" name="credit_limit" value="500">
            <button type="submit" class="btn btn-success">Approve</button>
          </form>
          <form action="{{ url_for('manage_account_apply.reject_application', user_id=application.user_id) }}" method="post">
            <button type="submit" class="btn btn-danger">Reject</button>
          </form>
          {% else %}
          <p>Action not available</p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No applications found.</p>
  {% endif %}
</div>
{% endblock %}
