<link rel="stylesheet" href="{{ url_for('static', filename='styles/account_dashboard.css') }}" />

{% extends "base.html" %}
{% block title %}Manager Account Apply{% endblock %}

{% block content %}
<div class="account-dashboard--container">
  {% set current_page = 'accountholder' %}
  {% include 'global/account_navbar.html' %}

  <div class="container account-content--container">
    <div class="account-ccount--header">
      Manager Account Apply
      {% set role = session.get("user_role") %}
      {% include 'components/role-badge.html' %}
    </div>

    {% if applications %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="displayNone">User ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Business Name</th>
          <th scope="col">Account Holder</th>
          <th scope="col">Credit Limit</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for application in applications %}
        <tr>
          <th scope="row" class="displayNone">{{ application.user_id }}</th>
          <td>{{ application.first_name }}</td>
          <td>{{ application.last_name }}</td>
          <td>{{ application.business_name }}</td>
          <td>{{ application.account_holder }}</td>
          <td>
        {% if application.account_holder != 'init' %}
          {{ application.credit_limit }}
        {% endif %}
        </td>
          <td>
            {% if application.account_holder == 'apply' %}
            <form action="{{ url_for('manage_account_apply.approve_application', user_id=application.user_id) }}" method="post">
              <input type="hidden" name="credit_limit" value="500">
              <button type="submit" class="common-btn--text">Approve</button>
            </form>
            <form action="{{ url_for('manage_account_apply.reject_application', user_id=application.user_id) }}" method="post">
              <button type="submit" class="common-btn--text">Reject</button>
            </form>
            {% else %}
            <p>Action not available</p>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No applications found.</p>
    {% endif %}
  </div>
  </div>
</div>
{% endblock %}
