<div class="account-content--container">

  <div class="account-ccount--header">
    Welcome / {{ user["first_name"] }} {{ user["last_name"] }}
  </div>

  {% if user["user_role"] == 'customer' %}
  <div class="account-content--wrapper">
    <div class="account-content--item">
      <div class="account-content--title">ORDERS OVERVIEW</div>
      <div class="account-content--des">
        {% if user["order_count"] == 0 %}
        <span>You haven't placed any orders yet.</span>
        {% else %}
        <span>You have {{ user["order_count"] }} orders.</span>
        <span>
          <a href="#" class="common-btn--text">Check your order history.</a>
        </span>
        {% endif %}
      </div>
    </div>
    
    <div class="account-content--item">
      <div class="account-content--title">SHIPPING ADDRESS</div>
      <div class="account-content--des">
			<div class="mt-3">
			<a href="{{ url_for('shipping_address.manage_addresses', user_id=user['user_id']) }}" class="btn btn-primary">Manage Shipping Addresses</a>
		</div>
	  </div>
    </div>

    <div class="account-content--item">
      <div class="account-content--title">LATEST NEWS</div>
      <div class="account-content--des">
        <div class="container mt-5">


                <div class="card-body news-container" style="height: 300px; overflow-y: auto;">
                  {% for news in latest_news %}
                  <div>
                    <p><h5>{{ news.title }} </h5></p>
                    <p style="white-space: pre-line;">{{ news.content }}</p>
                    <p><strong>Published Date: {{ news.published_date }}</strong></p>
                    <hr> <!-- Horizontal line after each news item -->
                  </div>
                  {% endfor %}
                </div>
            

        </div>
        
      </div>
    </div>
  </div>
  {% endif %}
</div>