
<div class="account-content--container">

  <div class="account-ccount--header">
    Welcome / {{ user["username"] }}
  </div>

  {% if user["user_role"] == 'customer' %}
  <div class="account-content--wrapper">

    <!--adorable bell is here-->
  <div class="notification-icon" id="notification-icon">
  <span class="red-icon" id="notificationCount">0</span>
  <img src="{{ url_for('static', filename='images/notification.png') }}" alt="Notifications" !important style="width: 10%;">
</div>
<div id="notifications" class="notifications">
  <!-- Notifications will be dynamically loaded here -->
</div>

    <div class="account-content--item">
      <div class="account-content--title">ORDERS OVERVIEW</div>
      <div class="account-content--des">
        {% if order_count == 0 %}
        <span>You haven't placed any orders yet.</span>
        {% else %}
        <span>You have {{ order_count }} orders.</span>
        <span>
          <a href="{{url_for('customer.orders')}}" class="common-btn--text">Check your order history.</a>
        </span>
        {% endif %}
      </div>
    </div>
    
    <div class="account-content--item">

      {% if user["business_account_status"] == 'init' %}
      <div class="account-content--title">Apply for Account Holder</div>
      <div class="account-content--des">
        <span>
          <a 
            href="{{ url_for('account_holder.apply_account_holder') }}"
            class="common-btn--border"
          >
            Apply Now
          </a>
        </span>
      </div>
      {% else %}
      <div>
        <span>You Business Account Application Status : </span>
        <div><span style="font-size: 20px;">{{user["business_account_status"]}}</span></div>

      </div>

      {% endif %}

    </div>
    
    <div class="account-content--item">
      <div class="account-content--title">SHIPPING ADDRESS</div>
      <div class="account-content--des">
        <div class="mt-3">
          <a 
            href="{{ url_for('shipping_address.manage_addresses', user_id=user['user_id']) }}" 
            class="common-btn--border"
          >
            Manage Shipping Addresses
          </a>
        </div>
      </div>
    </div>

    <div class="account-content--item">
      <div class="account-content--title">LATEST NEWS</div>
      <div class="account-content--des">
        <div>
          <div class="card-body news-container" style="height: 300px; overflow-y: auto;">
            {% for news in latest_news %}
            <div>
              <p><h5>{{ news.title }} </h5></p>
              <p style="white-space: pre-line;">{{ news.content }}</p>
              <p><strong>Published Date: {{ news.published_date }}</strong></p>
              <hr> <!-- Horizontal line after each news item -->
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<script src="{{ url_for('static', filename='scripts/notification.js') }}"></script>
