<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/staff-dashboard.css') }}"
/>

<div>
  <div class="dashboard-header">staff dashboard</div>
  <div class="account-content--container">
    <div class="staff-dashboard-card">
      {% set entry_name = "Product Management" %}
      <!--  -->
      {% set entry_url = "product_page.get_list_of_product" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>
    <div class="staff-dashboard-card">
      {% set entry_name = "Order Management" %}
      <!--  -->
      {% set entry_url = "product_page.get_list_of_product" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>
    <div class="staff-dashboard-card">
      {% set entry_name = "Message Management" %}
      <!--  -->
      {% set entry_url = "product_page.get_list_of_product" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>
  </div>
</div>
