<div class="account-content--container">

  <div class="account-ccount--header">
    Welcome / {{ user["first_name"] }} {{ user["last_name"] }} 
    {% set role = 'admin' %}
    {% include 'components/role-badge.html' %}
  </div>

  <div class="account-content--container">

    <div class="staff-dashboard-card">
      {% set entry_name = "Categories Management" %}
      <!--  -->
      {% set entry_url = "admin.categories_management" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>

  </div>

</div>

