<div>
  <div class="dashboard-header">Administrator dashboard</div>
  <div class="account-content--container">
    <div class="account-ccount--header">
        Welcome / {{ user["first_name"] }} {{ user["last_name"] }} 
        {% set role = 'admin' %}
        {% include 'components/role-badge.html' %}
    </div>
    <div class="staff-dashboard-card">
      {% set entry_name = "Product Management" %}
      <!--  -->
      {% set entry_url = "product_page.get_list_of_product" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>
	<div class="staff-dashboard-card">
		{% set entry_name = "Manage Shipping Prices" %}
		{% set entry_url = "admin.manage_shipping_prices" %}
		{% include "components/dashboard-entry-card.html" %}
	</div>
  </div>

  <div class="account-content--container">

    <div class="staff-dashboard-card">
      {% set entry_name = "Categories Management" %}
      <!--  -->
      {% set entry_url = "admin.categories_management" %}
      <!--  -->
      {% include "components/dashboard-entry-card.html" %}
    </div>

  </div>

</div>
