{% extends 'base.html' %}



{% block content %}
<div class="form-error">{{ err_msg }}</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 ">
            <img src="{{ url_for('static', filename='images/products/' + product.image) }}"
            class="card-img-top img-thumbnail" style="max-width: 400px; height: auto;" alt="{{ product.description }}">
        </div>
        <div class="col-md-6">
            <h5 class="card-title">name: {{ product.name }}</h5>
            <p class="card-text">description: {{ product.description }}</p>
            <p class="card-text">price: {{ product.price }}</p>
            <p class="card-text">category: {{ product.category }}</p>
            <p class="card-text">Status: {% if product.active %} In Stock {% else %} Out of Stock {% endif %}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-6">
      <h5 class="card-title">name: {{ product.name }}</h5>
      <p class="card-text">description: {{ product.description }}</p>
      <p class="card-text">price: {{ product.price }}</p>
      <p class="card-text">category: {{ product.category }}</p>
      <p class="card-text">
        Status: {% if product.active %} In Stock {% else %} Out of Stock {%
        endif %}
      </p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</div>

{% endblock %}
