{% extends "base.html" %} {% block content %}
<div>Product Management Page</div>

<div class="form-error">{{ err_msg }}</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2>Product List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.category_name }}</td>
                        <td>
                            <a href="{{ url_for('product_page.edit_product', product_id=product.id) }}" class="btn btn-sm btn-primary">Edit</a>
                            <form action="{{ url_for('product_page.delete_product', product_id=product.id) }}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('product_page.add_product') }}" class="btn btn-primary">Add New Product</a>
        </div>
    </div>
</div>

{% endblock %}
