<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/account_dashboard.css') }}"
/>

{% extends "base.html" %} 

{% block title %}MCRS - Product Management {% endblock %} 

{% block content %}

<div class="account-dashboard--container">
  <div class="form-error">{{ err_msg }}</div>

  {% set current_page = 'product' %} 
  {% include 'global/account_navbar.html' %}

  <div class="container account-content--container">
    <div class="account-ccount--header">
      Product Management
      {% set role = session.get("user_role") %}
      {% include 'components/role-badge.html' %}
    </div>

    <div class="row">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>${{ product.price }}</td>
              <td>{{ product.category_name }}</td>
              <td>
                <div class="product-management--btns">
                  <a
                    href="{{ url_for('product_page.edit_product', product_id=product.id) }}"
                    class="common-btn--text"
                  >
                    Edit
                  </a>
                  <form
                    action="{{ url_for('product_page.delete_product', product_id=product.id) }}"
                    method="post"
                  >
                    <button type="submit" class="common-btn--text">
                      Delete
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a
          href="{{ url_for('product_page.add_product') }}"
          class="common-btn--border"
        >
          Add New Product
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
