<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/product.css') }}"
/>

{% extends 'base.html' %}



{% block content %}
<div class="form-error">{{ err_msg }}</div>
{% if error != true %}
<div>
    <div class="category-top-nav-bar">
        {% for ca in categories  %}
            <div>
            <a href="{{url_for('category',category_id=ca[0])}}">{{ca[2]}}</a>
            </div>
        {%endfor%}
    </div>
<div class="whole-container">
    <div class="product-side-list">
        <ul>
        {% for pd in products%}
        <a href="{{pd[0]}}"">
        <li>{{pd[2]}}</li>
        </a>
        {%endfor%}
    </ul>
    </div>
<div class="product-container">
    <div class="product-img">
        <img 
            src="{{ url_for('static', filename='images/products/' + product.image) }}"
            alt="{{ product.name }}"
        >
    </div>
    <div class="product-details">
        <div class="product-details--wrapper">
            <h1 class="product-name">{{ product.name }}</h1>
            <small class="product-cateogry">{{ product.category }}</small>
            <div class="product-price">
                <span>${{ product.price }}</span>
                {% if product.discounted_price %}
                <span class="discounted-price">Discounted Price: ${{ product.discounted_price }}</span>
            {% endif %}
            </div>
            
            <div class="product-inventory{% if product.quantity > 50 %} available{% elif product.quantity > 10 %} low{% elif product.quantity <= 0 %} unavailable{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                    <path d="M21.9844 10C21.9473 8.68893 21.8226 7.85305 21.4026 7.13974C20.8052 6.12523 19.7294 5.56066 17.5777 4.43152L15.5777 3.38197C13.8221 2.46066 12.9443 2 12 2C11.0557 2 10.1779 2.46066 8.42229 3.38197L6.42229 4.43152C4.27063 5.56066 3.19479 6.12523 2.5974 7.13974C2 8.15425 2 9.41667 2 11.9415V12.0585C2 14.5833 2 15.8458 2.5974 16.8603C3.19479 17.8748 4.27063 18.4393 6.42229 19.5685L8.42229 20.618C10.1779 21.5393 11.0557 22 12 22C12.9443 22 13.8221 21.5393 15.5777 20.618L17.5777 19.5685C19.7294 18.4393 20.8052 17.8748 21.4026 16.8603C21.8226 16.1469 21.9473 15.3111 21.9844 14" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M21 7.5L17 9.5M12 12L3 7.5M12 12V21.5M12 12C12 12 14.7426 10.6287 16.5 9.75C16.6953 9.65237 17 9.5 17 9.5M17 9.5V13M17 9.5L7.5 4.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                {{ product.quantity }} in Stock
            </div>
        </div>

        <div class="product-details--wrapper short">
            <a href="#" class="common-btn--border cta-add-to-cart {% if product.active %} {% else %} disabled{% endif %}" data-product-id="{{ product.id }}">Add to Cart</a>
            <div class="product-status{% if product.active %} available{% else %} unavailable{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 48 48">
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="invisible_box" data-name="invisible box">
                            <rect width="48" height="48" fill="none"/>
                        </g>
                        <g id="icons_Q2" data-name="icons Q2">
                            <path d="M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2Zm0,40A18,18,0,1,1,42,24,18.1,18.1,0,0,1,24,42Z"/>
                            <path d="M24,20a2,2,0,0,0-2,2V34a2,2,0,0,0,4,0V22A2,2,0,0,0,24,20Z"/>
                            <circle cx="24" cy="14" r="2"/>
                        </g>
                    </g>
                </svg>
                {% if product.active %}
                Product is currently available for purchase.
                {% else %}
                This product is no longer for purchase.
                {% endif %}
            </div>
        </div>

        <div class="product-details--wrapper">
            <input type="checkbox" checked id="product-description" class="product-description-checkbox">
            <div class="product-description">
                <label class="product-description-label" for="product-description">Product Description</label>
                <div class="product-description-content">{{ product.description }}</div>
            </div>
            <input type="checkbox" id="product-shipping" class="product-description-checkbox">
            <div class="product-description">
                <label class="product-description-label" for="product-shipping">Shipping & Delivery</label>
                <div class="product-description-content">
                    <p>
                        Products ordered online can be picked up at your local Moa Creek store or delivered to your farm or home. When your order is ready for pick up or about to be shipped for delivery you will receive a dispatch email. Currently, all orders are delivered through CourierPost.
                    </p>

                    <b>Click and Collect</b>
                    <p>
                        Click and collect is FREE for all orders nationwide. If you order before 2pm we will have your order ready to collect within 2 business days* including the day the order is placed. We will notify you by email when your order is in store waiting to be collected.
                    </p>

                    <b>Delivery</b>
                    <p><ul>
                        <li>Standard sized items: $10 flat rate.</li>
                        <li>Oversized items: $100 flat rate.</li>
                        <li>Mixed orders with both standard and oversized items: Higher delivery charge applies.</li>
                        <li>NZ outer islands: Shipping by quote, arranged at the customer’s expense.</li>
                    </ul>
                    </p>

                    <b>Tracking and Estimated Delivery Times</b>
                    <p>
                        Deliveries take 3 to 5 business days* including the day the order is placed if placed before 2 pm. If the order is placed after 2 pm one business day must be added to the order's estimated delivery time. Deliveries are made Monday through Friday only. If you wish to track the progress of your delivery you can do so using the CourierPost tracking link sent to you in your dispatch email.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{%else%}
<h1 class="vertical-center">Product Not Exist</h1>

{% endif%}

{% endblock %}

