<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/account_dashboard.css') }}"
/>

{% extends "base.html" %}
{% block title %}MCRS - Edit News{% endblock %}

{% block content %}
<div class="account-dashboard--container">
  {% set current_page = 'news' %} 
  {% include 'global/account_navbar.html' %}

  <div class="container">
    <div class="account-ccount--header">
      Edit News
      {% set role = 'manager' %}
      {% include 'components/role-badge.html' %}
    </div>

    <div class="row">
      <div>
        <div class="card shadow">
          <div class="card-body">
            <form method="POST" class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ title }}" required>
                <div class="invalid-feedback">
                  Please enter a title.
                </div>
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="content" rows="5" required>{{ content }}</textarea>
                <div class="invalid-feedback">
                  Please enter the content.
                </div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="is_published" name="is_published" {% if is_published %}checked{% endif %}>
                <label class="form-check-label" for="is_published">Published</label>
              </div>
              <button type="submit" class="common-btn--border">Update News</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
