{% extends "base.html" %}
{% block title %}News Management{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4>News & Anouncement Management</h4>
          <a href="{{ url_for('news_page.add_news') }}" class="btn btn-success btn-sm">Add News & Anouncement</a>
        </div>
        <div class="card-body">
          {% if err_msg %}
            <div class="alert alert-danger" role="alert">
              {{ err_msg }}
            </div>
          {% endif %}
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Created By</th>
                <th>Published</th>
                <th>Published Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for news in news_list %}
                <tr>
                  <td>{{ news.title }}</td>
                  <td>{{ news.created_by }}</td>
                  <td>{{ 'Yes' if news.is_published else 'No' }}</td>
                  <td>{{ news.published_date }}</td>
                  <td>
                    <a href="{{ url_for('news_page.edit_news', news_id=news.news_id) }}" class="btn btn-primary btn-sm">Edit</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}
