<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/staff-dashboard.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/account_dashboard.css') }}"
/>

{% extends "base.html" %} {% block content %}
  <div>
    <h1>Inbox</h1>
    <ul>
      {% for convsn in conversations %}
      <li>
        <a
          href="{{ url_for('message_page.conversation', conversation_id = convsn.conversation_id) }}"
          >Conversation with {{convsn["cust_full_name"] }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>

  {% endblock %}
</div>
