<div class="footer-container">
  <div class="footer-content--container">
    <div class="footer-content--top">
      <div class="footer-content--top-left"></div>
      <div class="footer-content--top-right">
        <ul>
          <li class="footer-list--header">Collections</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        <ul>
          <li class="footer-list--header">Shop at Moa Creek</li>
          <li><a href="{{ url_for('shipping_address.shipping_info')}}">Shipping & Delivery</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        <ul>
			<li class="footer-list--header">Contact</li>
			<li><a href="mailto:support@moacreekruralsupplies.co.nz">Email Us: support@moacreekruralsupplies.co.nz</a></li>
			<li><a href="tel:+640123456789">Call Us: +64 012 345 6789</a></li>
			<li><a href="#">123 Rural Lane, Alexandra, Central Otago, NZ</a></li>
		  </ul>
      </div>
    </div>


    <div class="footer-content--bottom">
      <div class="footer-content--bottom-left">
        <ul>
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Policies</a>
          </li>
        </ul>
      </div>
      <div class="footer-content--bottom-right">
        @ Moa Creek Rural Supplies 2024. All rights reserved.
      </div>
    </div>
  </div>
  <div class="footer-big-content">Moa Creek Rural Supplies</div>
</div>