<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/navbar.css') }}"
/>

<nav class="navbar">
  <div class="wrapper">
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    <div class="logo">
      <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/icon-logo.png') }}" alt="Logo" width="30" height="30" />
        <span class="logo-content--desktop">Moa Creek Rural Supplies</span>
        <span class="logo-content--mobile">MCRS</span>
      </a>
    </div>
    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li>
        <a href="{{ url_for('customer.categories') }}" class="desktop-item">Categories</a>
        <input type="checkbox" id="showMega" />
        <label for="showMega" class="mobile-item">Categories</label>
        <div class="mega-box">
          <div class="content">
            {% for category in navbar_categories %}
              <div class="row">
                <ul class="mega-links">
                  <li>
                    <a href="{{ url_for('category', category_id=category.id) }}">{{ category.name }}</a>
                    {% if category.children %}
                      <ul>
                        {% for child in category.children %}
                          <li><a href="{{ url_for('category', category_id=child.id) }}">{{ child.name }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </li>
    </ul>
    <div class="nav-side--links">
      <a class="nav-side--link" href="{{ url_for('login_page.login') }}">
        <img src="{{ url_for('static', filename='images/icon-account.svg') }}" />
      </a>
      <a class="nav-side--link" href="{{ url_for('cart.cart') }}">
        <img src="{{ url_for('static', filename='images/icon-cart.svg') }}" />
        <span data-user-id="{{ session['user_id'] }}" class="nav-side--link-quantity"></span>
      </a>
    </div>
  </div>
</nav>