.account-dashboard--container {
  width: 100%;
  max-width: 1024px;
  padding: 100px 20px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 1024px) {
  .account-dashboard--container {
    flex-direction: column;
  }
}

.account-navbar--container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .account-navbar--container {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.account-navbar--container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 1024px) {
  .account-navbar--container ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.account-navbar--container .active a:after {
  width: 100%;
  left: 0;
}

.account-navbar--container a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.875rem;
  position: relative;
}

.account-navbar--container a:hover:after {
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}

.account-navbar--container a:after {
  content: '';
  width: 0;
  border-bottom: 1px solid var(--black);
  display: block;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transition: all 0.3s ease;
}

.account-content--container {
  display: flex;
  width: calc(100% - 200px);
  min-height: 500px;
}

.account-content--container {
  display: flex;
  flex-direction: column;
}

.account-ccount--header {
  font-size: 2rem;
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-content--wrapper {
  display: flex;
  flex-direction: column;
}

.account-content--item {
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
}

.account-content--item:not(:last-child) {
  border-bottom: 1px solid var(--black);
}

.account-content--item:not(:first-child) {
  padding-top: 50px;
}

.account-content--title {
  margin: 0 0 10px 0;
}

.account-content--des {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.account-content--item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
}

.account-content--item-label {}

.account-content--item-value {}

.account-content--btn {
  margin: 20px 0 0 0;
}

.account-content--tip-wrapper {
  position: relative;
  width: fit-content;
}

.account-content--tip {
  position: absolute;
  right: -80px;
  border: 1px solid var(--red);
  font-size: 0.75rem;
  color: var(--red);
  border-radius: 5px;
  background-color: rgba(210, 45, 30, 0.3);
  padding: 2px 5px;
}

.orders-list .cta-view-order-details {
  font-size: 1rem;
}

.account-content--role.customer {
  display: none;
}

.account-content--role {
  border: 1px solid var(--green);
  font-size: 0.75rem;
  color: var(--green);
  border-radius: 5px;
  background-color: rgba(18, 125, 52, 0.3);
  padding: 2px 5px;
  display: flex;
  gap: 3px;
  align-items: center;
  text-transform: capitalize;
}
.account-content--role .a,
.account-content--role .b {
  stroke: var(--green);
}

.account-content--role.manager {
  border-color: var(--yellow);
  background-color: rgba(193, 140, 0, 0.3);
  color: var(--yellow);
}
.account-content--role.manager .a,
.account-content--role.manager .b {
  stroke: var(--yellow);
}

.account-content--role.staff {
  border-color: var(--blue);
  background-color: rgba(63, 119, 161, 0.3);
  color: var(--blue);
}
.account-content--role.staff .a,
.account-content--role.staff .b {
  stroke: var(--blue);
}

.addresses-btns,
.product-management--btns {
  display: flex;
  gap: 10px;
}

.addresses-btns form,
.product-management--btns form {
  margin: 0;
}

.product-list-container {
  max-height: 400px;
  overflow-y: auto; 
}