.account-dashboard--container {
  width: 100%;
  max-width: 1024px;
  padding: 100px 20px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 1024px) {
  .account-dashboard--container {
    flex-direction: column;
  }
}

.account-navbar--container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .account-navbar--container {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.account-navbar--container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 1024px) {
  .account-navbar--container ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.account-navbar--container .active a:after {
  width: 100%;
  left: 0;
}

.account-navbar--container a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.875rem;
  position: relative;
}

.account-navbar--container a:hover:after {
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}

.account-navbar--container a:after {
  content: '';
  width: 0;
  border-bottom: 1px solid var(--black);
  display: block;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transition: all 0.3s ease;
}

.account-content--container {
  display: flex;
  width: 100%;
  min-height: 500px;
}

.account-content--container {
  display: flex;
  flex-direction: column;
}

.account-ccount--header {
  font-size: 2rem;
  margin: 0 0 30px 0;
}

.account-content--wrapper {
  display: flex;
  flex-direction: column;
}

.account-content--item {
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
}

.account-content--item:not(:last-child) {
  border-bottom: 1px solid var(--black);
}

.account-content--item:not(:first-child) {
  padding-top: 50px;
}

.account-content--title {
  margin: 0 0 10px 0;
}

.account-content--des {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.account-content--item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
}

.account-content--item-label {}

.account-content--item-value {}

.account-content--btn {
  margin: 20px 0 0 0;
}

.account-content--tip-wrapper {
  position: relative;
  width: fit-content;
}

.account-content--tip {
  position: absolute;
  right: -80px;
  border: 1px solid var(--red);
  font-size: 0.75rem;
  color: var(--red);
  border-radius: 5px;
  background-color: rgba(210, 45, 30, 0.3);
  padding: 2px 5px;
}
