.footer-container {
  background-color: var(--bg-header);
  font-size: 0.875rem;
  position: relative;
  overflow: hidden;
}

.footer-content--container {
  width: 100%;
  max-width: 1024px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.footer-content--top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 150px 0;
}

.footer-content--top-right {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.footer-content--top-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list--header {
  font-weight: bold;
  margin: 0 0 8px 0;
}

.footer-content--top-right a {
  text-decoration: none;
  color: var(--black);
  transition: all 0.3s ease;
}

.footer-content--top-right a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.footer-content--bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.footer-content--bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.footer-content--bottom a {
  text-decoration: none;
  color: var(--black);
}

.footer-big-content {
  font-family: 'Dancing Script';
  font-size: 5rem;
  color: var(--light-white);
  width: 100%;
  z-index: 0;
  transform: rotate(-7.5deg);
  position: absolute;
  bottom: 0;
  text-align: center;
  letter-spacing: -0.5px;
}