@import url('category-card.css');
@import url('product-card.css');
@import url('footer.css');
@import url('hero-section.css');

:root {
  --bg-header: #a5d4e5;
  --darker-bg: #57bfe6;
  --link-hover: #74c7e5;
  --light-white: #FAFAFA;
  --black: #252526;
  --red: #d22d1e;
  --green: #127d34;
}

* {
  font-family: "Abel", sans-serif;
}

section.content {
  padding-top: 86px;
}

.common-btn--text {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--black);
  position: relative;
  transition: all 0.3s ease;
}

.common-btn--text:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--black);
  transition: all 0.3s ease;
}

.common-btn--text:hover {
  color: var(--link-hover);
  transition: all 0.3s ease;
}

.common-btn--text:hover:after {
  border-color: var(--link-hover);
  transition: all 0.3s ease;
}

.common-btn--border {
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid var(--black);
  height: 50px;
  line-height: 50px;
  background-color: var(--bg-header);
  transition: all 0.3s ease;
}

.common-btn--border:hover {
  background-color: var(--link-hover);
  transition: all 0.3s ease;
}

.flickity-button.flickity-prev-next-button {
  width: 20px;
  height: 20px;
}

.flickity-button.flickity-prev-next-button.previous {
  left: -20px;
}

.flickity-button.flickity-prev-next-button.next {
  right: -20px;
}

@media (max-width: 1024px) {
  .flickity-button.flickity-prev-next-button.previous {
    left: 0;
  }
  
  .flickity-button.flickity-prev-next-button.next {
    right: 0;
  }
}

.global-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.global-form .form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.global-form .form-field.with-error {
  color: var(--red);
}

.global-form .form-field label {
  font-size: 0.85rem;
  text-transform: uppercase;
}

.global-form .form-field input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--black);
  padding-left: 0;
}

.global-form .form-field input:focus {
  outline: none;
}

.global-form .form-field.with-error input {
  color: var(--red);
  border-color: var(--red);
}

.global-form .form-field.with-success .form-msg {
  text-align: center;
  margin: 0 auto 5px auto;
  color: var(--green);
}

.global-form .form-field .form-msg {
  font-size: 0.85rem;
  color: var(--red);
}