.section-header {
  width: 80%;
  max-width: 1024px;
  margin: 10px auto;
  text-align: center;
}

.section-header--title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.section-header--description {
  font-size: 16px;
  margin: 0 0 10px 0;
}