<div class="category-card">
  <!-- <img src="{{ url_for('static', filename='images/img-coming-soon.png') }}" alt="category image"> -->
  <img src="https://images.pexels.com/photos/1545743/pexels-photo-1545743.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
  <div class="category-card--content">
    <div class="category-card--content-icon">
      <span>i</span>
    </div>
    <div class="category-card--content-title">
      Collection Name 
    </div>
    <div class="category-card--content-caption">
      <p>View the collection</p>
    </div>
  </div>
  <a href="#"></a>
</div>


