<div class="collection-card">
  <a href="{{ url_for('category', category_id=category_id ) }}" class="collection-card--img">
    <!-- the ratio of image here should be 1:1 -->
    <img src="{{ url_for('static', filename=image_path) }}" alt="Collection Image">
  </a>
  <div class="collection-card--content">
    <div class="collection-card--content-title">
      {{ category_Name }}
    </div>
    <div class="collection-card--content-des">
      {{ promotion_content }}
    </div>
    <a href="{{ url_for('category', category_id=category_id ) }}" class="common-btn--text">SHOP NOW</a>
  </div>
</div>