{% set video_id = '225166224' %}

<div class="hero-section--container">
  <iframe
    src="https://player.vimeo.com/video/{{ video_id }}?byline=0&portrait=0&background=1&controls=0&loop=1&muted=1"
    allow="autoplay; encrypted-media"
    allowfullscreen
  ></iframe>
  <div class="hero-section--content">
    <div class="hero-section--title">Explore ready</div>
    <div class="hero-section--des">
      Discovery the range of our elegant products.
    </div>
    <div class="hero-section--btn">
      <a href="{{ url_for('customer.categories') }}" class="common-btn--border"
        >SHOP NOW</a
      >
    </div>
  </div>
</div>
