<link rel="stylesheet" href="{{ url_for('static', filename='styles/two-big-collection-cards.css') }}">

<div class="collection-cards--container">
  <div class="collection-cards">
    {% set category_id = 11 %}
    {% set image_path = "images/category_image/garden_supplies.jpg"%}
    {% set category_Name = "Garden Supplies"%}
    {% set promotion_content = "Transform your garden into a lush paradise with our premium selection of garden supplies. Explore our range today and cultivate the garden of your dreams!" %}
    {% include "components/collection-card.html" %}
    {% set category_id = 10 %}
    {% set image_path = "images/category_image/household_supplies.jpg"%}
    {% set category_Name = "Household Supplies"%}
    {% set promotion_content = "Make your house a home with our top-quality household supplies. From kitchen essentials to cleaning solutions, we have everything you need to keep your home running smoothly!" %}
    {% include "components/collection-card.html" %}
  </div>
</div>