<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/account_dashboard.css') }}"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/order_management.css') }}">

{% extends "base.html" %} 
{% block title %}MCRS - Orders Management{% endblock %}

{% block content %}
<div class="account-dashboard--container">
    {% set current_page = 'order' %} 
    {% include 'global/account_navbar.html' %}

    <div class="account-content--container order-management">
        <div class="account-ccount--header">
          Orders Management
          {% set role = session.get("user_role") %}
          {% include 'components/role-badge.html' %}
        </div>
        <div class="ord-list">
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Username</th>
                    <th>Last Name</th>
                    <th>Total</th>
                    <th>GST</th>
                    <th>Freight</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                {% for ords in orders_list %}
                <tr>
                    <td>{{ ords[0] }}</td>
                    <td>{{ ords[9] }}</td>
                    <td>{{ ords[10] }}</td>
                    <td>${{ ords[4] }}</td>
                    <td>${{ ords[5] }}</td>
                    <td>${{ ords[6] }}</td>
                    <td>{{ ords[3] }}</td>
                    <td>{{ ords[7] }}</td>
                    <td class="edit_box">
                        <form action="{{ url_for('order_page.update_order_status') }}" method="post">

                            <!-- pass parameter 'order_id' -->
                            <input type="hidden" name="order_id" value="{{ ords[0] }}">

                            <!-- pass parameter 'order_status' -->
                                <select name="order_status">
                                    <option value="pending" {% if ords[7] == 'pending' %}selected disabled{% endif %} >pending</option>
                                    <option value="shipped" {% if ords[7] == 'shipped' %}selected disabled{% endif %}>shipped</option>
                                    <option value="delivered" {% if ords[7] == 'delivered' %}selected disabled{% endif %}>delivered</option>
                                    <option value="cancelled" {% if ords[7] == 'cancelled' %}selected disabled{% endif %}>cancelled</option>
                                    <option value="ready_for_pickup" {% if ords[7] =='ready_for_pickup' %}selected disabled{% endif %}>ready for pickup</option>
                                </select>
                        
                            <button type="submit"> Update Status </button>

                        </form>

                        <!-- send order status update message -->
                        <form action="{{ url_for('order_page.send_message_order_status') }}" method="post">
                            <input type="hidden" name="user_id" value="{{ ords[1] }}">
                            <button type="submit">Send Notification</button>
                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        </div>
    </div>
</div>

{% endblock %}
